doctype html
html
  head
    title account page
    h1 KNU Library System
  body
    ul#accountupdate
        li: a(href="accountupdate") 회원 정보 수정
    ul#accountdelete
        li: a(href="accountdelete") 회원 정보 삭제

    block content 