doctype html
html
  head
    title bookinfo page
    h1 KNU Library System
  body
    h5 도서 정보 
    input(type="text", placeholder="리뷰 작성")
    ul#review
      li: a(href="review") 리뷰 작성하기
 

    block content