//- 책의 이름/작가/ISBN 으로 책을 검색
//- 검색된 책 리스트를 보여준다

extends layout

block content

  script.
    const login = (username, password) => {
      let xhr = new XMLHttpRequest();
      xhr.open("POST", "login");
      xhr.setRequestHeader("Accept", "application/json");
      xhr.setRequestHeader("Content-Type", "application/json");

      xhr.onreadystatechange = function () {
        if (xhr.readyState === XMLHttpRequest.DONE) {
          console.log(xhr.status);
          console.log(xhr.responseText);
          localStorage.setItem('token', JSON.parse(xhr.responseText).token);
        }};

      let data = `{
        "username": "${document.getElementsByName('username')[0].value}",
        "password": "${document.getElementsByName('password')[0].value}"
      }`;

      xhr.send(data);
    }

  div#login
    h3 로그인
    input(type="text", name="username")
    input(type="password", name="password")
    button(onclick="login()")
      로그인

  div#bookSearch
    h3 책 검색
    form(action="./book", method="get") 
      table
        tr 
          td 
            select(name="searchOption")
                option(value="bookTitle" selected) Book title
                option(value="authorName") Author Name
                option(value="ISBN") ISBN
          td  
            input(type="text", name="searchWord", value="")
          td
            input(type="submit", value="Search")
