//- 책의 이름/작가/ISBN 으로 책을 검색
//- 검색된 책 리스트를 보여준다

extends layout

block content
  div#bookSearch
    h3 책 검색
    form(action="./book", method="get") 
      table
        tr 
          td 
            select(name="searchOption")
                option(value="bookTitle" selected) Book title
                option(value="authorName") Author Name
                option(value="ISBN") ISBN
          td  
            input(type="text", name="searchWord", value="")
          td
            input(type="submit", value="Search")
