doctype html
html
  head
    //- title= title
    title LIBRARY 
    link(rel='stylesheet', href='/stylesheets/style.css')

  body
    ul 
      li 
        a(href="./") home page
      li 
        a(href="./reviewAll") review
    block content
