extends layout

block content
    h1 마이 페이지
    hr
    table.account 
        thead  
            tr 
                th NAME 
                th EMAIL 
                th PHONE 
        tbody 
            tr 
                td #{name}
                td #{mail}
                td #{number}
        