<!DOCTYPE html>
<html>
  <head>
    <title></title>
    <link rel="stylesheet" href="/stylesheets/style.css">
  </head>
  <body>
    <input type="text" placeholder="ID">
    <input type="text" placeholder="Password">
    <h5>비밀번호를 잊으셨나요?</h5>
    <ul id="books">
      <li><a href="#book-a">Account
          <h5>계정 만들기 </h5>
          <h5>회원 정보 수정</h5>
          <h5>계정 삭제 </h5>
          <h5>내가 작성한 평점 조회 </h5>
          <h5>나의 대출정보 </h5></a></li>
      <li><a href="#book-b">Book
          <h5>도서 검색
            <input type="text" placeholder="도서명">
            <input type="text" placeholder="저자명">
            <input type="text" placeholder="출판연도">
          </h5>
          <h5>도서 추가</h5>
          <h5>도서 정보 수정</h5>
          <h5>도서 삭제</h5></a></li>
    </ul>
  </body>
</html>